<div class="phrase-container" id="newPhraseBackground">
  <div class="fixed-bottom phrase-entry-box">
    <%= simple_form_for(@phrase) do |f| %>
    <div class="phrase-data-container trim">
      <div class="col-sm-4 hex-form">
        <%= f.input :color, as: :minicolors, label:false, placeholder: "🎨", input_html: {data: {
          minicolors: { position: :top }}}, class: "phrase-form-field" %>
      </div>
      <div class="col-sm-4 words-form">
        <%= f.text_field :first_word, placeholder: LiterateRandomizer.word.downcase, class: "phrase-form-field" %>
        <%= f.text_field :second_word, placeholder: LiterateRandomizer.word.downcase, class: "phrase-form-field" %>
      </div>
      <div class="col-sm-4 new-phrase-buttons">
        <%= button_tag type: 'submit', class: "trim", id: "formSubmit" do %>
        <i class="fa fa-save" aria-hidden="true"></i>
        <% end %>
        <%= link_to ('<i class="fa fa-random"></i>').html_safe, phrase_random_path, class: "trim"  %>
        <%= link_to ('<i class="fa fa-archive"></i>').html_safe, phrases_path, class: "trim" %>
      </div>
    </div>
    <% end %>
  </div>
</div>





