<div class="container-fluid phrase" id="newPhraseBackground">
  <div class="fixed-bottom phrase-entry-box">
    <%= simple_form_for(@phrase) do |f| %>
    <div class="phrase-text-container">
      <%= f.text_field :first_word, placeholder: LiterateRandomizer.word.downcase, class: "phrase-text-entry" %>
      <%= f.text_field :second_word, placeholder: LiterateRandomizer.word.downcase, class: "phrase-text-entry" %>
      <%= f.input :color, as: :minicolors, label: "🎨" %>
      <%= f.submit "Create" %>
    </div>
    <% end %>
  </div>
</div>

