<div class="phrase-container" style="background-color: <%= @phrase.color %>">
  <div class="col-sm-4 col-sm-offset-4">
     <h1 class="phrase-name trim"><%= @phrase.first_word %> <%= @phrase.second_word %></h1>
  </div>
  <div class="fixed-bottom phrase-entry-box">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h2 id="phraseHex" class="trim"><%= @phrase.color %></h2>
    </div>
    <div class="col-sm-4 phrase-navigation">
      <span id="copyHexTooltip" aria-label="copy hex" data-microtip-position="top-left" data-microtip-size="fit" role="tooltip">
        <i class="fa fa-clone trim" id="copyHex"></i>
      </span>
      <span aria-label="new" data-microtip-position="top-left" role="tooltip">
      <%= link_to ('<i class="fa fa-plus"></i>').html_safe, new_phrase_path, class: "trim" %>
      </span>
      <% if current_user && current_user.id == @phrase.user_id %>
        <span aria-label="delete" data-microtip-position="top-left" role="tooltip">
          <%= link_to ('<i class="fa fa-trash"></i>').html_safe, phrase_path, method: :delete, data: { confirm: "Are you sure?" }, class: "trim" %>
        </span>
      <% end %>
      <span aria-label="random" data-microtip-position="top-left" role="tooltip" id="tooltip">
        <%= link_to ('<i class="fa fa-random"></i>').html_safe, phrase_random_path, class: "trim"  %>
      </span>
      <span aria-label="library" data-microtip-position="top-left" role="tooltip">
        <%= link_to ('<i class="fa fa-archive"></i>').html_safe, phrases_path, class: "trim" %>
      </span>
    </div>
  </div>
</div>
