<div class="container">
  <div class="phrase-navigation">
    <%= link_to ('<i class="fa fa-plus"></i>').html_safe, new_phrase_path %>
    <%= link_to ('<i class="fa fa-random"></i>').html_safe, phrase_random_path %>
  </div>
  <div class="container cards-container">
    <div class="row">
        <% @phrases.each do |phrase| %>
          <%= link_to phrase_path(phrase) do %>
            <div class="card col-md-3 col-sm-6 col-xs-12" style="background: <%= phrase.color %>">
              <div class="card-body">
                <h2 class="card-header"><%= phrase.first_word %> <%= phrase.second_word %></h2>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
