<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <h1>All</h1>
        <%= link_to "New", new_phrase_path %> |
        <%= link_to "Random", phrase_random_path %>
        <% @phrases.each do |phrase| %>
          <%= link_to phrase_path(phrase) do %>
            <h2><%= phrase.first_word %> <%= phrase.second_word %></h2>
          <% end %>
        <% end %>

    </div>
  </div>
</div>
