<div class="container-fluid phrase" style="background-color: <%= @phrase.color %>">
  <div class="col-sm-4 col-sm-offset-4">
     <h1 style="font-size: 30px"><%= @phrase.first_word %> <%= @phrase.second_word %></h1>
  </div>
  <div class="fixed-bottom phrase-entry-box">
    <div class="col-sm-4 phrase-navigation">
    <%= link_to "Random", phrase_random_path %> |
    <%= link_to "New", new_phrase_path %> |
    <%= link_to "Back", phrases_path %> |
    <%= link_to "Delete", phrase_path, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <%= @phrase.color %>
    </div>
  </div>
</div>
