<div class="home-background">
  <div class="grid-container">
    <div class="home-title-container text-center">
      <h1><%= link_to 'phrase palette', phrases_path, id: 'homeHeader' %></h1>
    </div>
  </div>
  <div class="fixed-bottom phrase-entry-box">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <!-- midde -->
    </div>
    <div class="col-sm-4 phrase-navigation">
      <%= render 'users/user_icon' %>
      <%= link_to ('<i class="fa fa-plus"></i>').html_safe, new_phrase_path, class: "trim" %>
      <%= link_to ('<i class="fa fa-random"></i>').html_safe, phrase_random_path, class: "trim"  %>
      <%= link_to ('<i class="fa fa-archive"></i>').html_safe, phrases_path, class: "trim" %>
    </div>
  </div>
</div>
